
html, body {
	margin:0;
	padding:0;
}

body {
	font-size:100%;
	font-family:Exo;
	background: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

header {
	width:100%;
	background: linear-gradient(to top, #29323c 0%, #485563 100%);
	height:100vh;
}

.Altarius {
	width: 100%;
}

header img {
	width:100%;
	max-width:1310px;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    display:none;
}

header img:last-of-type {
	max-width:1120px;
	width:50%;
	display:block;
	opacity:0;
}

nav {
	margin-bottom:6%;
}

nav ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

nav ul a li {
	transition:background .3s, padding .3s;
	background:#F44336;
	float:left;
	width:16.66666666666667%;
	padding:1% 0%;
	text-align:center;
	color:white;
}

nav ul a {
	font-size:23px;
}

nav ul a li:hover {
	background:#D32F2F;
}

nav ul li:hover {
	padding-bottom:1.5%;
}

.blocked {
	cursor:not-allowed;
}

.blur {
	display:none;
	background:rgba(0,0,0,.5);
	position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
}

.notify {
	position:fixed;
	width:30%;
	max-height:35%;
	left:0;top:0;right:0;bottom:0;
	background: linear-gradient(to top, #29323c 0%, #485563 100%);
	margin:auto;
	display:inline-block;
}

.notify h1 {
	text-align:center;
	margin:0;
	padding:2%;
	background:rgba(0,0,0,.2);
	color:white;
}

.notify span {
	transition:color .15s;
	float:right;
	font-family:Arial;
	font-weight:normal;
	cursor:pointer;
}

.notify .msg {
	display:none;
}

.notify span:hover, .notify span:focus {
	color:#f44336;
}

.notify p {
	margin:2%;
	padding:2%;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	border:1px solid rgba(0,0,0,.3);
	background: rgba(0,0,0,.15);
	color:rgba(255,255,255,.7);
	text-align:center;
}

.notify input {
	display:block;
	outline:none;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	border:1px solid rgba(0,0,0,.3);
	background: rgba(0,0,0,.15);
	color:rgba(255,255,255,.7);
	padding:2%;
	font-size:18px;
	color:#43A047;
	text-align:center;
	margin:7% auto;
}

.notify button {
	display:none;
	transition:box-shadow .2s;
	padding:2% 4%;
	font-size:18px;
	color:white;
	border:0;
	border-radius:5px;
	margin-left:20%;
	cursor:pointer;
}

.notify button:hover, .notify button:focus {
	outline:none;
	box-shadow: inset 0px 0px 15px 1px rgba(0,0,0,0.75);
}

.notify .confirm {
	background:#43A047;
}

.notify .cancel {
	background:#F44336;
}

.banner {
	width:35%;
	display: block;
	margin:20px auto;
	margin-top:0%;
}

section {
	text-align:center;
	width:50%;
	margin:auto;
	margin-bottom:5%;
	background:rgba(51, 51, 51, .1);
	border-radius: 10px 10px 0px 0px
}

section:first-of-type {
	margin-top:15%;
}

section h1 {
	font-size:250%;
	font-weight: bold;
	margin:0;
	padding:.5%;
	background:rgba(67, 67, 67, .7);
	font-family:Syncopate;
	color:white;
	border-radius: 10px 10px 0px 0px
}

section p {
	padding:2%;
	font-family:Exo;
	font-size:16px;
}

section p a {
	text-decoration:none;
}

section p a:hover {
	text-decoration:underline;
}

section p a:visited {
	color:blue;
}

.slider {
	width:720px;
	border:1px solid black;
	margin:auto;
	height:400px;
	margin-bottom:10%;
	background:url(../images/missing_images.png);
	overflow:hidden;
}

.slider h1 {
	text-align:center;
	padding:3%;
	margin:0;
	background:rgba(0,0,0,.4);
	display:none;
	color:white;
}

footer {
	padding:1%;
	background: linear-gradient(to top, #29323c 0%, #485563 100%);
	color:white;
}

footer h1 {
	text-align:center;
	margin:0;
	font-family:Syncopate;
}

footer hr {
	width:30%;
	margin-top:0;
	margin-bottom:2.5%;
	border: 0;
	height:2px;
	background-image: linear-gradient(to right, rgba(33, 33, 33, .1), rgba(250, 250, 250, .7),rgba(33, 33, 33, .1));
}

footer ul {
	list-style-type:none;
	width:30%;
	margin:0;
	padding:0;
	display:inline-block;
	vertical-align: bottom;
}

footer ul:last-of-type {
	float:right;
}

footer h3 {
	text-align:center;
	font-family:Syncopate;
	padding:1.5%;
	font-size:130%;
}

footer ul li {
	transition:color .1s;
	font-size:18px;
	color:white;
}

footer ul li:not(.order):hover {
	color:#2979FF;
}

footer ul li:hover {
	text-decoration:underline;
}

footer ul li, footer ul p {
	display:inline-block;
}

footer ul p {
	margin:0px 5px;
	font-size:24px;
	font-family:Syncopate;
}

footer .info {
	margin-left:3.5%;
	background:rgba(0,0,0,.15);
	border:1px solid rgba(0,0,0,.3);;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    padding:1%;
}

footer .info p  {
	font-family:Exo;
	display:inline-block;
	font-size:16px;
}

footer .info .clickable:hover {
	text-decoration:underline;
	cursor:pointer;
}

footer ul:last-of-type li {
	cursor:pointer;
}
